<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <title>Captain's Log #1</title>
</head>
<body class="text-center mx-auto ">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="/logs">List of Logs</a>
        </li>
    </ul>
    <h2 class="display-4 mt-5">Captain's Log Entry #1</h1>
    <h3 > 
        <small class="text-muted">
            June 10, 2019
        </small>
    </h3>
    <br>
    <h4 class="mt-5">
        We learned the basics of HTML aka HyperText Markup Language. We used some basic tags such as ul, li, h1, and p.
    </h4>
    <br>
    <br>
    <br>
    
    <a href=""> 
        <button type="button" class="btn btn-outline-dark"><h4>next log</h4></button>
    </a>
    <script src="/js/main.js"></script>
</body>
</html>