html{
    cursor: crosshair;
}
h1 {
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
    cursor: crosshair;
}

h4 {
	color: #343434;
	
}

button {
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-size: 22px;
	line-height: 40px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Orienta', sans-serif;
	letter-spacing: 1px;
    font-style: italic;
    background-color: #d5ae1e;
    cursor: crosshair;
    text-decoration: none;
}

body {
    background-color: #770000; 
    cursor:crosshair;
}



.nav-item {
    background-color: #d5ae1e;

}

#divi {
    background-color: #343434
}

a {
    color: #343434;
}

.list-group-item {
	background-color: #770000; 
}